/*
 * layout
 */

#body-wrapper {
  background: url('../img/bg_inner.jpg') #59616F 0 0 no-repeat;
  max-width: 1300px;
  min-width: 1000px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 1px 4px 1px #3d3d3d;
  -moz-box-shadow: 0px 1px 4px 1px #3d3d3d;
  box-shadow: 0px 1px 4px 1px #3d3d3d;
}

#page {
  margin-top: 10px;
}

/*
 * branding
 */
#branding {
}

#branding #logo {
  
}


/* tables */
table tr.even {
  background-color: #F0F0F0;
}
table tr.odd {
  background-color: #Ffffff;
}
table td.active {
  background-color: transparent;
}
table tr th,
table thead {
  background-color: #E2E2E2;
  color:#000;
}
table thead a,
table thead a:link,
table thead a:visited {
 color: #007ee4; 
}

/*
 * Lists
 */
ul li {
  list-style: square;
}

/*
 * Navigation
 */

#navigation ul.menu li,
#navigation ul.menu li a  {
	display:inline;
}

#navigation ul.menu li{
	margin-right:10px;
}

ul.menu li a,
ul.menu li a:link,
ul.menu li a:visited,
ul.menu li a:hover {
	color:#333;
}

#navigation .block{
	margin:0;
}

/*
 * buttons
 */
input.form-submit {
  font-size: 13px;
  color: #FFF;
  padding: 5px;
  background: -moz-linear-gradient(
    top,
    #55b1eb 0%,
    #55b1eb);
  background: -webkit-gradient(
    linear, left top, left bottom, 
    from(#55b1eb),
    to(#55b1eb));
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 0px solid #cbcbcb;
  -moz-box-shadow:
    0px 3px 0px rgba(40,109,152,1),
    inset 0px 0px 1px rgba(255,255,255,0);
  -webkit-box-shadow:
    0px 3px 0px rgba(40,109,152,1),
    inset 0px 0px 1px rgba(255,255,255,0);
  text-shadow:
    0px 0px 0px rgba(000,000,000,0),
    0px 0px 0px rgba(255,255,255,0);
}


li.node_read_more a {
  text-transform: uppercase;
  font-size: 13px;
  color: #1a4a66;
  padding: 5px 5px;
  margin-right:0;
  background: -moz-linear-gradient(
    top,
    #bce9ff 0%,
    #bce9ff);
  background: -webkit-gradient(
    linear, left top, left bottom, 
    from(#bce9ff),
    to(#bce9ff));
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 0px solid #FFF;
  -moz-box-shadow:
    0px 2px 0px rgba(0,0,0,0.6),
    inset 0px 0px 1px rgba(000,000,000,0);
  -webkit-box-shadow:
    0px 2px 0px rgba(0,0,0,0.6),
    inset 0px 0px 1px rgba(000,000,000,0);
  text-shadow:
    0px 0px 0px rgba(255,255,255,0),
    0px 0px 0px rgba(255,255,255,0);
} 

li.node_read_more a:hover {
	color: #FFF;
  text-decoration: none;
    background: -moz-linear-gradient(
    top,
    #386e96 0%,
    #386e96);
  background: -webkit-gradient(
    linear, left top, left bottom, 
    from(#386e96),
    to(#386e96));
}

.node-links {
  background-color: #FFF;
  padding: 5px 10px;
  font-size: 11px;
  text-align: right; 
}

ul.links li.node_read_more a {
  padding: 0 5px;
}

ul.links.inline li {
  float: right;
  margin: 0 5px 4px 0;
}

/*
 * special headings
 */
h1.page-title, 
h2.node-title a, 
.node content h2{
  color: #54B2EB;
}

#below-title {
  background: #FFF;
  padding: 10px;
  width:auto;
  height: auto;
  border: 0px solid #000;
  border-top: 5px solid #000;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

dl.profile-category {
  margin-bottom: 5px;
}

dt {
  text-transform: uppercase;
  font-weight: bold;
  }

dd {
  font-family: 'Adelle', Georgia, serif;
  font-size: 16px;
  }

.profile h3 {
	padding-top:10px;
	}

.profile a {
	font-weight:normal;
	}

/*
 * sidebar
 */
#right {
  float:right;
  margin-left: 10px;
  width: 200px;
  padding-top: 10px;
}

/*
 * blocks
 */
#right .block {
  background: none repeat scroll 0 0 white;
  border-top: 3px solid #000000;
  height: auto;
  width: 200px;
  border-bottom: 0px #000000 solid;
  border-left: 0px #000000 solid;
  border-right: 0px #000000 solid;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#right .block h2.block-title {
  margin-bottom: 5px;
  padding: 5px 10px;
}
#right .block .block-content {
  text-align:center;
  padding: 10px;
}

/*
 * footer
 */
#footer {
  display: block;
  background-color: #000;
	color:#FFF;
}

.footer-message {
  background-color: #000;
  color: #99C4DF;
  padding: 1px;
  text-align: center;
  font-size: 11px;
  letter-spacing: 1px;
}

.footer-message a {
  font-weight: normal;
  color: #99C4DF; 
}
  
.node-submitted {
  color: #59616F;
  padding-bottom: 5px;
  font-size: 11px;
}
.node-submitted a {
  color: #59616F;
}


/* comments */
#comments .box {
  background: none repeat scroll 0 0 #F9FAD2;
  border-top: 3px solid #000;
  padding: 11px;
  border-bottom: 0px #000 solid;
  border-left: 0px #000 solid;
  border-right: 0px #000 solid;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

div.fieldset-content, fieldset {
 background: #EEE;
}
